{
    consumer_key:         'c6VVQGRUW7XyuH3lj0HVAMpVg'
  , consumer_secret:      'Y8IexitgAc5Z52vEgfytyZuV5atTZpXME4V4U6yZM97Es6NA3R'
  , access_token:         '789161562028158977-oASH0P5ZowlIVjxCead4uimJh0UoH61'
  , access_token_secret:  'vNsCnnw9fOSNqYau0d89cPEnVP29fpESONBj7Sg33P9aR'
}
